---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";

const heroFile = await import("../content/hero.md");
---

<Layout>
  <Header />

  <main>
    <Hero frontmatter={heroFile.frontmatter} />
  </main>

  <Footer />
</Layout>