<header class="header flex justify-between items-center bg-[#f9f1f2] h-[9.6rem] px-[4.8rem] relative">
  <a href="#">
    <img class="logo h-[6rem]" alt="Cabinet de Ginecologie logo" src="/img/logos/logo_ver2.png" />
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#servicii">Serviciile noastre</a></li>
      <li><a class="main-nav-link" href="#abordare">Abordarea noastră</a></li>
      <li><a class="main-nav-link" href="#despre">Despre</a></li>
      <li><a class="main-nav-link" href="#blog">Blog</a></li>
      <li><a class="main-nav-link nav-cta" href="#cta">Contactează-ne</a></li>
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>

<script>
  const btnNavEl = document.querySelector(".btn-mobile-nav");
  const headerEl = document.querySelector(".header");

  btnNavEl?.addEventListener("click", function () {
    headerEl?.classList.toggle("nav-open");
  });

  const sectionHeroEl = document.querySelector(".section-hero");

  if (sectionHeroEl && headerEl) {
    const headerHeight = headerEl.getBoundingClientRect().height;

    const obs = new IntersectionObserver(
      function (entries) {
        const ent = entries[0];
        if (!ent.isIntersecting) document.body.classList.add("sticky");
        else document.body.classList.remove("sticky");
      },
      {
        root: null,
        threshold: 0,
        rootMargin: `-${headerHeight}px`,
      }
    );

    obs.observe(sectionHeroEl);
  }
</script>